/* global rules  */
* {

  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Poppins&display=swap");


:root {
  --main-color: #4fd7f2;
  --main-color-alt: #e7e7e7;
  --main-color-white: #ffffff;
  --main-color-violet: #8a2be2;
  --main-color-violet1: #330758;
  --main-transitio-duration: 0.3s;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.btn-white {
  width: 150px;
  height: 50px;
  color: var(--main-color-white);
  font-size: 1.6rem;
  background-color: transparent;
  border: 1px solid var(--main-color-white);
  cursor: pointer;
  transition: var(--main-transitio-duration);
}
.btn-white:hover {
  background-color: var(--main-color-white);
  color: black;
}

html {
  scroll-behavior: smooth;
  font-size: 10px;
}

body {
  background: rgb(255, 255, 255 55);

  font-family: "Josefin Sans", sans-serif;
  font-family: "Poppins", sans-serif;
  font-display: optional;
}

/* small  */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* medium  */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* large  */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* start head */


.head {
  height: 75px;
  display: flex;
  border-bottom: 0.1px solid #ffffff50;
 
}
.stiky-nav{
  position: sticky;
  width: 100%;
  top: 0;
  background-color: #330758;
  z-index: 10;
}
.head .logo {
  font-size: 3rem;
  font-weight: bold;
  color: var(--main-color-white);
  cursor: pointer;
}
.head .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head .container ul {
  display: flex;
}




.head .container ul li {
  display: flex;
  position: relative;
  margin: 0 10px;
  height: 70px;
  align-items: center;
}

.head .container ul li a {
  color: var(--main-color-white);
  font-size: 1.5rem;
  transition: var(--main-transitio-duration);
}
.head .container ul li a::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 0;
  border-radius: 10px;
  background: var(--main-color-white);
  bottom: 20px;
  transition: var(--main-transitio-duration);
}

.head .container ul li a:hover::before {
  width: 100%;
}

.head .container i {
  font-size: 25px;
  color: var(--main-color-white);
  width: 50px;
  height: 50px;
  background-color: var(--main-color-violet);
  position: relative;
  cursor: pointer;
}
.head .container i::before {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media (max-width: 1200px) {
  .head{
    width: 100%;
    background-color: var(--main-color-violet1);
    z-index: 10;
  }
  .head .container{
    width: 100%;
    background-color: var(--main-color-violet1);
    z-index: 10;
  }
 
 
  .head .container ul li{
  
    margin: 10px;
    padding: 0;
  }
  }

@media (max-width: 992px) {
  .head{
    width: 100%;
    background-color: var(--main-color-violet1);
    z-index: 10;
  }
  .head .container{
    width: 100%;
    background-color: var(--main-color-violet1);
    z-index: 10;
  }
 
 
  .head .container ul li{
  
    margin: 10px;
    padding: 0;
  }
  }
@media (max-width: 768px) {
  .head{
    width: 100%;
    background-color: var(--main-color-violet1);
    z-index: 10;
  }
  .head .container{
    width: 100%;
    background-color: var(--main-color-violet1);
    z-index: 10;
  }
  .head .container .nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #330758;
    margin-top: -400px;
    z-index: -3;
    transition: var(--main-transitio-duration);
  }
  .show-menu{
    padding-top: 800px;
    position: relative;
  }
  .head .container ul li{
  
    margin: 0;
    padding: 0;
  }
  
}


/* end head */
/* start landing */


.landing .img {
  width: 100%;
  height: 100vh;
  background: url(/landing.41ff854d.jpg) no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  z-index: -10;
}
.landing .img .layer {
  background-color: #33004aa1;
  z-index: 10;
  width: 100%;
  height: 100vh;
}
.landing .container {
  display: flex;
  justify-content: flex-start;
  height: calc(100vh - 80px);
}
.landing .container .flex {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10%;
  margin-bottom: 80px;
}
.landing .flex .social-media {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing .flex .social-media i {
  color: white;
  font-size: 2rem;
  margin: 5px 0;
  background-color: var(--main-color-violet);
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  transition: var(--main-transitio-duration);
}

.landing .flex .social-media i:hover {
  transform: scale(1.5);
}
.landing .flex .social-media i::before {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}

.landing .container .flex .title {
  color: var(--main-color-white);
  font-size: 2.5rem;
  margin-left: 30px;
}

.landing .container .flex .title h4 {
  font-size: 1.4rem;
  font-weight: 100;
  margin-left: 10%;
  position: relative;
}
.landing .container .flex .title h4::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 15px;
  background: #eee;
  left: -20px;
  top: 6px;
}

.box {
  right: 90px;
  bottom: -235px;
  width: 40%;
  background-color: var(--main-color-violet1);
  position: absolute;
  padding: 30px;
  flex-direction: column;
  justify-content: center;
  color: var(--main-color-white);
}
.box span {
  font-size: 1.5rem;
  margin-left: 10%;
}
.box span::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 15px;
  background: #eee;
  left: 60px;
  top: 37px;
}
.box h2 {
  font-size: 4rem;
}
.box p {
  max-width: 90%;
  margin-bottom: 5%;
  margin-left: 6%;
  position: relative;
  line-height: 1.5;
  font-size: 1.5rem;
}
.box p::before {
  content: "";
  top: -5px;
  left: -30px;
  height: 60px;
  width: 1px;
  background-color: white;
  position: absolute;
}

.logo-box {
  margin-top: 3%;
}

.logo-box .container .logo-ipsum {
  display: flex;
  align-items: center;
}
.logo-box .container .logo-ipsum img {
  width: 35px;
}
.logo-box .container .logo-ipsum span {
  font-size: 1.5rem;
  margin: 0 10px;
}
.up{
  position: fixed;
  bottom: 20px;
  right: -50px;
  font-size: 40px;
  color: var(--main-color-violet);
  cursor: pointer;
  transition: var(--main-transitio-duration);
  z-index: 1;
}
.up.show{
right: 20px;
}

@media (max-width: 992px){
  .container .flex{
    display: flex;
    width: 100%;
    margin-left: -0%;
  }
  .container .flex .social-media{
    display: none;
    
  }
  .container .flex .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;


  }
  .container .flex .title h4{
    align-self: flex-start;
  }
  .container .flex .title h1{
 font-size: 4rem;
 text-align: center;
 margin: 50px 0px;
  }
  .logo-box{
     margin-top: 5%;
  }
  .logo-box .container{
    display: flex;
    justify-content: center;
  }
 
}


@media (max-width: 768px){
  .container .flex{
    display: flex;
    width: 100%;
    margin-left: -0%;
  }
  .container .flex .social-media{
    display: none;
    
  }
  .container .flex .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 30px;


  }
  .container .flex .title h4{
    align-self: flex-start;
  }
  .container .flex .title h1{
 font-size: 3rem;
 text-align: center;
 margin: 50px 0px;
  }
  
  .logo-box .container{
  
    flex-direction: column;
    align-items: center;
  }
 
 
}
/* end landing */
/* START SECTION BUSINESS */

.business {
  margin-top: 14%;
}

.business .container > p {
  text-align: center;
  font-size: 1.5rem;
  color: #6c09bf;
}
.business .container h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 7%;
}
.business .container .text-box {
  display: flex;
  justify-content: center;
}
.business .container .text-box {
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
}

.business .container .text-box .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}
.business .container .text-box .content span {
  font-size: 4rem;
  color: blueviolet;
  font-weight: bolder;
}
.business .container .text-box .content h5 {
  font-size: 2rem;
  margin-top: 10px;
  margin-bottom: 10px;
}
.business .container .text-box .content p {
  font-size: 1.6rem;
  text-align: center;
  color: #666;
  margin-top: 0;
  max-width: 230px;
}
.business .container .img-box {
  margin-top: 10%;
  display: flex;
  justify-content: space-around;
}
.business .container .img-box .img {
  max-width: 500px;
  position: relative;
}
.business .container .img-box .img img {
  width: 100%;
  height: 100%;
  position: relative;
}
.business .container .img-box .img span::after {
  content: "";
  position: absolute;
  height: 200px;
  width: 4px;
  background-color: var(--main-color-violet1);
  left: -25px;
  top: -25px;
}
.business .container .img-box .img span::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 200px;
  left: -25px;
  top: -25px;
  background-color: var(--main-color-violet1);
}
.business .container .img-box .img .inner-box {
  background-color: var(--main-color-violet1);
  width: 75%;
  position: absolute;
  color: white;
  bottom: -40px;
  right: -40px;
  padding: 15px;
  flex-direction: column;
}
.business .container .img-box .img .inner-box i {
  font-size: 3rem;
}
.business .container .img-box .img .inner-box h3 {
  font-size: 2rem;
  margin-bottom: 0;
}
.business .container .img-box .img .inner-box p {
  font-size: 1.6rem;
  margin-bottom: 0;
}
.business .container .img-box .inner-text span {
  margin-left: 35px;
  position: relative;
  font-size: 1.3rem;
}
.business .container .img-box .inner-text {
  width: 40%;
}
.business .container .img-box .inner-text span::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 15px;
  background: #320757;
  left: -18px;
  top: 8px;
}
.business .container .img-box .inner-text h1 {
  font-size: 3rem;
  text-align: start;
  font-weight: bolder;
}
.business .container .img-box .inner-text p {
  margin: 20px 0;
  position: relative;
  font-size: 1.8rem;
  margin-left: 30px;
  color: #afafaf;
}
.business .container .img-box .inner-text p::before {
  content: "";
  top: 0px;
  left: -30px;
  height: 60px;
  width: 1px;
  background-color: #afafaf;
  position: absolute;
}
.business .container .img-box .inner-text .check-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.business .container .img-box .inner-text .check-box .list-box input {
  accent-color: #8c18ed;
}
.business .container .img-box .inner-text .check-box .list-box label {
  font-size: 1.6rem;
}
.business .container .img-box .inner-text button {
  width: 230px;
  height: 50px;
  color: var(--main-color-white);
  font-size: 1.6rem;
  background-color: #320757;
  border: 1px solid var(--main-color-white);
  cursor: pointer;
  margin-top: 35px;
}
.business .container .img-box .inner-text .number {
  font-size: 1.6rem;
  margin-left: 8px;
}
.business .container .img-box .inner-text .number::before {
  content: "";
  display: none;
}
.business .container .img-box .inner-text i {
  font-size: 1.8rem;
  margin-left: 15px;
}



@media (max-width: 1200px){
  .box{
    position: inherit;
    width: 90%;
    margin: 30px auto 0;
    }
    .box p::before{
      content: '';
      top: -5px;
    }
  
    .logo-box .container .logo-ipsum{
      justify-content: center;
    }
    .business .img-box{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .business .container .img-box .img{
      max-width: 600px;
    }
    .business .img-box .inner-text{
      min-width: 90%;
      margin-top: 15% ;
      }
      .logo-box{
        margin-top: 5%;
     }
     .logo-box .container{
       display: flex;
       justify-content: center;
     }

}

@media (max-width: 992px){
  .box{
    position: inherit;
    width: 90%;
    margin: 30px auto 0;
    }
    .box p::before{
      content: '';
      top: -5px;
    }
  
    .logo-box .container .logo-ipsum{
      justify-content: center;
    }
    .business .img-box{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .business .container .img-box .img{
      max-width: 600px;
    }
    .business .img-box .inner-text{
      min-width: 90%;
      margin-top: 15% ;
      }

}


@media (max-width: 768px){
  .box{
    position: inherit;
    width: 90%;
    margin: 30px auto 0;
    }
    .box p::before{
      content: '';
      top: -5px;
    }
  
    .logo-box .container .logo-ipsum{
      justify-content: center;
    }
    .business .img-box{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .business .container .img-box .img{
      min-width: 300px;
    padding: 0 5px;
    }
    .business .container .img-box .img span::before,
    .business .container .img-box .img span::after{
      display: none;
    }
    .business .container .img-box .img .inner-box{
      position: static;
      width: 100%;
    }
    .business .img-box .inner-text{
      min-width: 80%;
      margin-top: 15% ;
      }
     
}
/* START SECTION TEAM ========================>*/

.sec-team {
  margin-top: 15%;
  background-color: var(--main-color-violet1);
}

.sec-team .container {
  display: flex;
  align-items: center;
  position: relative;
  height: 100vh;

}

.sec-team .container .text-box {
  width: 50%;

  flex-direction: column;
  justify-content: center;
  color: var(--main-color-white);
}
.sec-team .container .text-box span {
  font-size: 1.5rem;
  margin-left: 10%;
  position: relative;
}
.sec-team .container .text-box span::before {
  content: "";
  position: absolute;
  height: 3px;
  width: 15px;
  background: #eee;
  left: -19px;
  top: 9px;
}
.sec-team .container .text-box h2 {
  font-size: 4rem;
  margin: 20px 0;
}
.sec-team .container .text-box p {
  max-width: 90%;
  margin-bottom: 5%;
  margin-left: 6%;
  position: relative;
  line-height: 1.5;
  font-size: 1.5rem;
}
.sec-team .container .text-box p::before {
  content: "";
  top: -5px;
  left: -30px;
  height: 60px;
  width: 1px;
  background-color: white;
  position: absolute;
}

.sec-team .container .video {
    position: absolute;
    top: -60px;
    right: -70px;

}

.sec-team .container .video video {
  width: 650px;
  height: 400px;
  border: 10px solid white;
  object-fit: cover;
}

.sec-team .container .skils-bg {
  position: absolute;
  background-color: white;
  width: 100%;
  height: 30%;
  bottom: -70px;
}

.sec-team .container .skils-bg .skil-f {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-50%);
  top: 40%;
  position: relative;
}

.sec-team .container .skils-bg .skils {
  color: white;
  left: 50%;
  bottom: 0;
  width: 40%;
  background-color: #aaa;
  display: flex;
  margin-right: 20px;
  margin-bottom: 15px;
}

.sec-team .container .skils-bg .skils .skil-bar1 {
  width: 95%;
  background-color: var(--main-color-violet1);
}
.sec-team .container .skils-bg .skils .skil-bar2 {
  width: 88%;
  background-color: var(--main-color-violet1);
}
.sec-team .container .skils-bg .skils .skil-bar3 {
  width: 90%;
  background-color: var(--main-color-violet1);
}
.sec-team .container .skils-bg .skils .skil-bar4 {
  width: 80%;
  background-color: var(--main-color-violet1);
}
.sec-team .container .skils-bg .skils .skil-bar1 .skil-webd,
.sec-team .container .skils-bg .skils .skil-bar2 .skil-front,
.sec-team .container .skils-bg .skils .skil-bar3 .skil-graphic,
.sec-team .container .skils-bg .skils .skil-bar4 .skil-3d {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
}


@media (max-width: 1200px){
  
  .sec-team .container{
    height: 100%;
    justify-content: center;

  }
  .sec-team .container .video{
    position: static;
    
  }
  .sec-team .container .video video{
    width: 476px;
    height: 345px;
    margin-bottom: 100px;
  }
  
  .sec-team .container .text-box{
   
    flex-grow: 1;
    margin: 70px 0;
 
   
  }
  .sec-team .container .text-box span{
  margin-left: 20px;
  }
  .sec-team .container .text-box h2{
    font-size: 3.5rem;
  }
  .sec-team .container .text-box p{
    margin-bottom: 40px;
    max-width: 425px;
   
  }

} 


@media (max-width: 992px){
  
  .sec-team .container{
    height: 100%;
    justify-content: center;

  }
  .sec-team .container .video{
    position: static;
    
  }
  .sec-team .container .video video{
    width: 370px;
    height: 250px;
  }
  
  .sec-team .container .text-box{
   
    flex-grow: 1;
    margin: 70px 0;
 
   
  }
  .sec-team .container .text-box span{
  margin-left: 20px;
  }
  .sec-team .container .text-box h2{
    font-size: 2.5rem;
  }
  .sec-team .container .text-box p{
    margin-bottom: 40px;
    max-width: 350px;
   
  }

} 

@media (max-width: 768px){
  
  .sec-team .container{
    height: 100%;
    justify-content: center;

  }
  .sec-team .container .video{
    position: static;
    width: 100%;
    display: none;
  }
  
  .sec-team .container .text-box{
    min-width: 80%;
    flex-grow: 1;
    margin: 70px 0;
    margin-left: 50px;
   
  }
  .sec-team .container .text-box span{
  margin-left: 20px;
  }
  .sec-team .container .text-box h2{
    font-size: 3rem;
  }
  .sec-team .container .text-box p{
    margin-bottom: 40px;
    /* min-width: px; */

   
  }

} 
/* end bussines======================================= */

.our-services {
  margin-top: 10%;
}

.our-services .container p {
  text-align: center;
  font-size: 1.5rem;
  color: #6c09bf;
}

.our-services .container h1 {
  text-align: center;
  font-size: 4rem;
  margin-bottom: 7%;
}

.our-services .container .grid-card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
  justify-items: center;


}

.our-services .container .card-content {
  width: 300px;
  height: 250px;
  padding: 20px;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.our-services .container .card-content i {
  font-size: 4rem;
  color: #320757;
  margin-bottom: 20px;
}
.our-services .container .card-content h3 {
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 0;
}
.our-services .container .card-content p {
  text-align: start;
  font-size: 1.6rem;
  color: #666;
  margin: 0;
}
.our-services .container .card-content button {
  width: 150px;
  height: 50px;
  color: var(--main-color-white);
  font-size: 1.6rem;
  background-color: #320757;
  border: 1px solid var(--main-color-white);
  cursor: pointer;
  margin-top: 20px;
  padding: 10px;
}

.our-services .container .card-content button:hover {
  background-color: var(--main-color-violet);
  color: white;
  transition: 0.3s;
}
.our-services .container .violet-mode {
  background-color: #320757;
  border: none;
}

.our-services .container .violet-mode i {
  color: white;
}

.our-services .container .violet-mode h3 {
  color: white;
}

.our-services .container .violet-mode p {
  color: white;
}
.our-services .container .violet-mode button {
  background-color: transparent;
}

.our-services .container .imag-box {
  margin-top: 10%;
  display: flex;
  justify-content: space-evenly;
  position: relative;
}

.our-services .container .imag-box img {
  width: 400px;
  position: relative;
}
.our-services .container .imag-box span::before {
  content: "";
  position: absolute;
  height: 4px;
  width: 200px;
  left: -34px;
  top: -47px;
  background-color: var(--main-color-violet1);
}
.our-services .container .imag-box span::after {
  content: "";
  position: absolute;
  height: 200px;
  width: 4px;
  background-color: var(--main-color-violet1);
  left: -34px;
  top: -44px;
}
.our-services .container .imag-box .inner-img .img1 {
  position: absolute;
  left: 200px;
  top: 486px;
  width: 250px;
  border: 10px solid white;
}

.our-services .container .imag-box .inner-text {
  text-align-last: left;
  max-width: 500px;
}
.our-services .container .imag-box .inner-text p:nth-child(1) {
  color: black;
}

.our-services .container .imag-box .inner-text p:nth-child(3) {
  text-align: start;
  color: black;
  position: relative;
  margin-left: 6%;
}
.our-services .container .imag-box .inner-text p:nth-child(3)::before {
  content: "";
  top: -10px;
  left: -30px;
  height: 60px;
  width: 1px;
  background-color: rgb(28 28 28 / 90%);
  position: absolute;
}
.our-services .container .imag-box .inner-text2 {
  display: flex;
  align-items: center;
}
.our-services .container .imag-box .inner-text2 i {
  margin-right: 20px;
  font-size: 3.8rem;
}

.our-services .container .imag-box .inner-text2 .text h3 {
  font-size: 2rem;
}

.our-services .container .imag-box .inner-text2 .text p {
  text-align: start;
  color: black;
  font-size: 1.6rem;
}

.our-services .container .imag-box .violet-box {
  color: white;
  background-color: #320757;
  padding: 15px;
}
.our-services .container .imag-box .violet-box .text p {
  color: white;
}


@media (max-width: 1200px){
 
  .our-services .container .imag-box .inner-img {
    display: none;
  }
  .our-services .container .imag-box span::before,
  .our-services .container .imag-box span::after{
    top: -10px;
  }
   
  

}

@media (max-width: 992px){
  .our-services .container .imag-box {
    flex-direction: column;
    align-items: center;
  }
  .our-services .container .imag-box img,
  .our-services .container .imag-box span{
    display: none;
  }
  .our-services .container .imag-box .inner-text h1{
   font-size: 3rem;
  }
}

@media (max-width: 768px){
  .our-services .container .imag-box {
    flex-direction: column;
    align-items: center;
  }
  .our-services .container .imag-box img,
  .our-services .container .imag-box span{
    display: none;
  }
  .our-services .container .imag-box .inner-text h1{
   font-size: 3rem;
  }
}

/* start footer ======================================= */
footer{
  background-color: var(--main-color-violet1);
  height: 500px;
  margin-top: 10%;
  position: relative;
}

footer .openday{
  display: flex;
    justify-content: space-between;
    background-color: var(--main-color-violet1);
    height: 100px;
    align-items: center;
    border-bottom: 1px solid antiquewhite;
}
footer .openday .container .day-time{
  display: flex;
    justify-content: space-between;
}

footer .openday i{
  font-size: 35px;
  padding: 5px;
  margin-right: 10px;

}
footer .openday .d-flex{
  display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.8rem;

}

footer .openday .day .day-d p, h4{
  margin: 0;
  color: var(--main-color-white);

}

footer .openday .time .time-t p{
 margin: 0;
 color: var(--main-color-white);
}
footer .openday .email{
  display: flex;
    align-items: center;
    justify-content: center;

}
footer .openday .email input[type=email]{
  width: 370px;
  height: 50px;
  padding: 15px;
  font-size: 1.6rem;
  color: black;
  border: none;
  border-bottom: 1px solid white;
  background-color: #ffffff75;
 

}
footer .openday .email input[type=email]::placeholder{
color: var(--main-color-white);
font-size: 16px;

}
footer .openday .email input[type=email]:focus{
  border: 1px solid #fff;
  outline: none;
}

footer .openday .email input[type=submit]:hover{
  background-color: var(--main-color-alt);
  color: black;
  transition: var(--main-transitio-duration);
}

footer .all-cont{
  display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
    align-items: center;

}

footer .all-cont .smedia .social-ml{
color: var(--main-color-alt);
}
footer .all-cont .smedia .social-ml h1{
  margin: 0;
  font-size: 5rem;
}
footer .all-cont .smedia .social-ml p{
  font-size: 1.6rem;
}
footer .all-cont .smedia .media-l{
  display: flex;
 
}
footer .all-cont .smedia .media-l i{
  color: var(--main-color-white);
  font-size: 2rem;
  margin-right: 20px;
  background-color: var(--main-color-violet);
  width: 30px;
  height: 30px;
  position: relative;
  cursor: pointer;
  transition: var(--main-transitio-duration);
}
footer .all-cont .smedia .media-l i::before{
  position:absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}
footer .all-cont .smedia .media-l i:hover{
  transform: scale(1.5);
}
footer .all-cont .quick-l{
  color: var(--main-color-white);
  font-size: 1.6rem;
  line-height: 2;
}
footer .all-cont .quick-l ul li a,
footer .all-cont .usefull-l ul li a,
footer .all-cont .site-po ul li a
{
  color: var(--main-color-alt);
}
footer .all-cont .usefull-l{
  color: var(--main-color-alt);
  font-size: 1.6rem;
  line-height: 2;
}
footer .all-cont .site-po{
  color: var(--main-color-alt);
  font-size: 1.6rem;
  line-height: 2;
}
footer .container .line{
  position: absolute;
  width: 86%;
  height: 1px;
  bottom: 30px;
  background-color: var(--main-color-alt);
}
footer .container .line::before{
  content: "copyright © - islem chtayna";
  color: var(--main-color-alt);
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  
  
}



@media (max-width: 1200px){
  footer{
    min-height: 700px;
  }
  footer .openday{
    height: 200px;
  }
  footer .openday .container .day-time{
  flex-wrap: wrap;
  justify-content: space-around;

  }
  footer .openday .container .day-time .email input[type=email]{
    width: 100%;
  }
  footer .openday .container .day-time .d-flex{
    margin-bottom: 15px;
  } 
  footer .all-cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  footer .all-cont .smedia{
    grid-area: 1/1/1/4;
  }
}

@media (max-width: 992px){
  footer{
    min-height: 700px;
  }
  footer .openday{
    height: 200px;
  }
  footer .openday .container .day-time{
flex-wrap: wrap;
justify-content: space-around;

  }

  footer .openday .container .day-time .email input[type=email]{
    max-width: 100%;
  }
  footer .openday .container .day-time .d-flex{
    margin-bottom: 15px;
  } 
  footer .all-cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  footer .all-cont .smedia{
    grid-area: 1/1/1/4;
  }
}
@media (max-width: 768px){
  footer{
    min-height: 700px;
  }
  footer .openday{
    height: 250px;
  }
  footer .openday .container .day-time{
flex-wrap: wrap;
justify-content: space-around;

  }
  footer .openday .container .day-time .email input[type=email]{
    width: 100%;
  }

  footer .openday .container .day-time .d-flex{
    margin-bottom: 15px;
  } 
  footer .all-cont{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  footer .all-cont .smedia{
    grid-area: 1/1/1/4;
  }
  footer .all-cont .quick-l,
  footer .all-cont .usefull-l,
  footer .all-cont .site-po{
    font-size: 1rem;
    margin-top: 50px;
  }
}


/*# sourceMappingURL=/style.78032849.css.map */